/*
Error: Inconsistent indentation: 3 spaces were used for indentation, but the rest of the document was indented using 2 spaces.
        on line 678 of home.sass

673:       color:#fff !important 
674:       
675:      
676:     
677:    
678:    .rad-navigation 
679:       height:50px    
680:     
681: 
682:    .rad-sidebar 
683:       top:50px 

Backtrace:
home.sass:678
/var/lib/gems/1.9.1/gems/sass-3.4.22/lib/sass/engine.rb:486:in `block in tabulate'
/var/lib/gems/1.9.1/gems/sass-3.4.22/lib/sass/engine.rb:444:in `each'
/var/lib/gems/1.9.1/gems/sass-3.4.22/lib/sass/engine.rb:444:in `each_with_index'
/var/lib/gems/1.9.1/gems/sass-3.4.22/lib/sass/engine.rb:444:in `tabulate'
/var/lib/gems/1.9.1/gems/sass-3.4.22/lib/sass/engine.rb:409:in `_to_tree'
/var/lib/gems/1.9.1/gems/sass-3.4.22/lib/sass/engine.rb:381:in `_render_with_sourcemap'
/var/lib/gems/1.9.1/gems/sass-3.4.22/lib/sass/engine.rb:298:in `render_with_sourcemap'
/var/lib/gems/1.9.1/gems/sass-3.4.22/lib/sass/exec/sass_scss.rb:391:in `run'
/var/lib/gems/1.9.1/gems/sass-3.4.22/lib/sass/exec/sass_scss.rb:63:in `process_result'
/var/lib/gems/1.9.1/gems/sass-3.4.22/lib/sass/exec/base.rb:52:in `parse'
/var/lib/gems/1.9.1/gems/sass-3.4.22/lib/sass/exec/base.rb:19:in `parse!'
/var/lib/gems/1.9.1/gems/sass-3.4.22/bin/sass:13:in `<top (required)>'
/usr/local/bin/sass:23:in `load'
/usr/local/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Inconsistent indentation: 3 spaces were used for indentation, but the rest of the document was indented using 2 spaces.\A         on line 678 of home.sass\A \A 673:       color:#fff !important \A 674:       \A 675:      \A 676:     \A 677:    \A 678:    .rad-navigation \A 679:       height:50px    \A 680:     \A 681: \A 682:    .rad-sidebar \A 683:       top:50px "; }
